version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runlocal:    
          api_key: SEDSTART_API_KEY_PROD      
          project_id: 418
          test_id: 1937
          profile_id: 848
          browser: chrome
          environment: QA
workflows:
  test-workflow:
    jobs:
      - test
