version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Install Xvfb
          command: |
            sudo apt-get update
            sudo apt-get install -y xvfb
      - cicd/runlocal:    
          api_key: SEDSTART_API_KEY
          project_id: 398
          test_id: 000
          profile_id: 801
          browser: safari
          environment: QA
workflows:
  test-workflow:
    jobs:
      - test
