version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Install Xvfb
          command: |
            sudo apt-get update
            sudo apt-get install -y xvfb
      - cicd/runlocal:    
          api_key: 
          project_id: 
          test_id: 
          profile_id: 
          browser: 
          environment: 
workflows:
  test-workflow:
    jobs:
      - test
